backend:
  name: git-gateway
  repo: icelandico/geodev_site
  branch: main
  auth_type: pkce
  base_url: https://auth.decapbridge.com
  auth_endpoint: /sites/177c7cd7-567e-4a12-a645-18fbc16b9aa3/pkce
  auth_token_endpoint: /sites/177c7cd7-567e-4a12-a645-18fbc16b9aa3/token
  gateway_url: https://gateway.decapbridge.com
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

auth:
  email_claim: email
  first_name_claim: first_name
  last_name_claim: last_name
  avatar_url_claim: avatar_url

logo_url: https://decapbridge.com/decapcms-with-bridge.svg
slug:
  encoding: 'ascii'
  clean_accents: true

media_folder: static/assets
public_folder: /assets
show_preview_links: true
collections:
  - label: 'Pages'
    name: 'pages'
    files:
      - label: 'Home Page'
        name: 'home'
        file: 'src/lib/content/pages/index.md'
        fields:
          - { label: TransitDiagrams, name: transitDiagrams, widget: text }
  - label: 'Projects'
    name: 'projects'
    create: true
    folder: 'src/lib/content/projects'
    slug: '{{title}}'
    fields:
      - { label: Template Key, name: 'templateKey', widget: 'hidden', default: 'work-item' }
      - { label: Title, name: title, widget: string }
      - { label: Date, name: date, widget: datetime }
      - { label: Publish date, name: created, widget: datetime }
      - { label: Photo, name: image, widget: image, required: false }
      - { label: Description, name: description, widget: text, required: true }
      - { label: URL, name: url, widget: string, required: false }
      - { label: Repo URL, name: repoUrl, widget: string, required: false }
      - { label: Work Type, name: type, widget: select, options: ['map', 'code'], default: ['map'] }
      - { label: Body, name: 'body', widget: 'markdown' }
      - { label: Page with own URL, name: selfUrl, widget: string, required: false }
  - label: 'Blog'
    name: 'blog'
    folder: 'src/lib/content/blog'
    create: true
    slug: '{{fields.slug}}'
    fields:
      - { label: Template Key, name: 'templateKey', widget: 'hidden', default: 'blog-post' }
      - { label: Title, name: 'title', widget: 'string' }
      - { label: Slug, name: 'slug', widget: 'string' }
      - { label: Publish Date, name: 'date', widget: 'datetime' }
      - { label: Description, name: 'description', widget: 'text' }
      - { label: Featured Image, name: 'featuredimage', widget: image, required: false }
      - {
          label: Body,
          name: 'body',
          widget: 'markdown',
          options: { linkAttrs: { target: _blank, rel: noreferrer noopener } }
        }
      - {
          label: Category,
          name: 'category',
          widget: 'relation',
          collection: 'categories',
          valueField: 'title',
          searchFields: ['title', 'icon']
        }
      - {
          label: Tags,
          name: 'tag',
          widget: 'relation',
          multiple: true,
          collection: 'tags',
          valueField: 'name',
          searchFields: ['name']
        }
  - label: 'Books'
    name: 'books'
    folder: 'src/lib/content/books'
    create: true
    slug: '{{fields.slug}}'
    fields:
      - { label: Template Key, name: 'templateKey', widget: 'hidden', default: 'book-item' }
      - { label: Title, name: 'title', widget: 'string' }
      - { label: Author, name: 'author', widget: 'string' }
      - { label: Slug, name: 'slug', widget: 'string' }
      - { label: Read, name: 'date', widget: 'datetime' }
      - {
          label: Review,
          name: 'body',
          widget: 'markdown',
          options: { linkAttrs: { target: _blank, rel: noreferrer noopener } }
        }
      - { label: Link, name: 'link', widget: 'string' }
      - {
          label: Rating,
          name: 'rating',
          widget: 'select',
          select,
          options: ['1', '1.5', '2', '2.5', '3', '3.5', '4', '4.5', '5']
        }
      - { label: Pages, name: 'pages', widget: 'number' }
      - {
          label: Genre,
          name: 'genre',
          widget: 'relation',
          multiple: true,
          collection: 'bookGenre',
          valueField: 'name',
          searchFields: ['name']
        }
      - { label: 'Polish only', name: 'polishOnly', widget: 'boolean', default: false }
  - label: 'Transit Maps'
    name: 'transitMaps'
    folder: 'src/lib/content/transitMaps'
    create: true
    slug: '{{fields.slug}}'
    fields:
      - { label: Title, name: 'title', widget: 'string' }
      - { label: Slug, name: 'slug', widget: 'string' }
      - { label: Created, name: 'created', widget: 'datetime' }
      - {
          label: Description,
          name: 'body',
          widget: 'markdown',
          options: { linkAttrs: { target: _blank, rel: noreferrer noopener } }
        }
      - { label: Img, name: image, widget: image, required: true }
  - label: 'Categories'
    name: 'categories'
    create: true
    folder: 'src/lib/content/categories'
    fields:
      - { label: Title, name: 'title', widget: string }
      - { label: Icon, name: 'icon', widget: image }
  - label: 'Tags'
    name: 'tags'
    create: true
    folder: 'src/lib/content/tags'
    fields:
      - { label: Name, name: 'name', widget: string }
  - label: 'Book genres'
    name: 'bookGenre'
    create: true
    folder: 'src/lib/content/genres'
    fields:
      - { label: Name, name: 'name', widget: string }
