@import url(./styles/code-highlight.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Aleo Variable', sans-serif;
	color: theme('colors.primaryBlack');
}

.dark ::selection {
	color: theme('colors.white');
	background: theme('colors.primaryOrange');
}

.dynamic-content :is(h1, h2, h3, h4, h5, h6, h7, p) {
	color: theme('colors.primaryBlack');
}

.dynamic-content h1 {
	font-size: 32px;
}

.dynamic-content h2 {
	font-size: 24px;
}

.dynamic-content h3 {
	font-size: 20px;
}

.dynamic-content h4 {
	font-size: 16px;
}

.dynamic-content :is(h1, h2, h3, h4, h5, h6, h7) {
	border-bottom: 1px solid theme('colors.secondaryBlack');
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.dynamic-content p {
	font-size: 18px;
	line-height: 30px;
	margin: 1rem 0;
	font-weight: 400;
}

.dynamic-content a {
	color: theme('colors.primaryBlue');
	text-decoration: underline;
}

.dynamic-content a:hover {
	color: white;
	background-color: theme('colors.primaryBlue');
}

.dynamic-content ul {
	list-style-type: disc;
	padding-left: 32px;
	word-wrap: break-word;
}

.dark .dynamic-content :is(h1, h2, h3, h4, h5, h6, h7, p, td, th) {
	color: theme('colors.white');
}

.dark .dynamic-content a {
	color: theme('colors.primaryOrange');
}

.dark .dynamic-content a:hover {
	color: white;
	background-color: theme('colors.primaryOrange');
}

.dark .dynamic-content li {
	color: white;
}

.dynamic-content table {
	border-collapse: collapse;
}

.dynamic-content th,
td {
	font-size: 1rem;
	padding: 0.5rem;
	text-align: left;
	color: #000;
}

ol,
li {
	padding-left: 1rem;
	font-size: 18px;
}

ol {
	list-style: auto;
}
